Source/ChildrenLearnOnCaravan/.idea
Source/ChildrenLearnOnCaravan/packages
Source/ChildrenLearnOnCaravan/ChildrenLearnOnCaravan.sln.DotSettings.user
Source/ChildrenLearnOnCaravan/bin
Source/ChildrenLearnOnCaravan/obj
